<!--these msg is used by flash() -->
<!--only handle a string, not an array -->

<!--call by req.flash("success_msg", "xxx") -->
{{#if success_msg}}
<div class="alert alert-success">{{success_msg}}</div>
{{/if}}

<!--call by req.flash("error_msg") -->
{{#if error_msg}}
<div class="alert alert-danger">{{error_msg}}</div>
{{/if}}