<style>
    .jumbotron{
        padding:2rem 1rem;
        margin-bottom: 2rem;
        background-color: rgb(255, 224, 186);
        border-radius: 0.3rem;
    }
</style>
<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Simple note Taking app</p>
    <p>Job your idea as a note</p>
    <a href="/ideas/add" id="" class="btn btn-dark btn-lg">Add Notes</a>
</div>

