<div class="card-card-body">
    <h3>Edit Noted</h3>
    <form action="/ideas/edit/{{idea._id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value="{{idea.title}}">        
    </div>
    <div class="form-group">
        <label for="details">Details</label>
        <textarea name="details" class="form-control">{{idea.details}}</textarea>
    </div>
    <button class="btn btn-primary" type="submit">submit</button>
    </form>
</div>